.file-item {
    display: flex;
    justify-content: space-between;

}
.file-item i {
    margin-right: 20px;
}
.file-item a {
    text-decoration: none;
    width: 50%;
}
.file-item div {
    cursor: default;
}
.navigator .title {
    display: inline-block;
    overflow: hidden;
}
h3.title {
    margin-top: 0px;
}

.selection-controller {
    display:flex;
    justify-content: space-around;
    padding: 0 20%;
}
body {
    margin-top: 60px;
    position: relative;
}
input[type="radio"], input[type="checkbox"] {
    width: 100px;
    cursor: pointer;
    height: 17px;
}
.bin-name-input {
    margin-top:-20px;
    margin-right: 10px;
    margin-left: 10px;
    z-index: -1;
    text-align:center;
}
.bin-name-input:hover {
    margin-top: 0px;
}
.bin-name-input:active{
    margin-top: 0px;
}
.bin-name-input:focus {
    margin-top: 0px;
}
.scrollable-menu {
        height: auto;
        max-height: 200px;
        overflow-x: hidden;
    }
@font-face {
    font-family: FontAwesome; /* Имя шрифта */
    src: url(../fonts/fontawesome-webfont.ttf); /* Путь к файлу со шрифтом */
   }

.doc-header {

}
.doc-header:hover:after {
    content: '#';
    position: relative;
    left:15px;
    top: 0px;
    color: red;
    font-family: fantasy;
    cursor: pointer;
}
hr {
    margin-bottom: 40px;
}
.element-count {
    background: #ecf0f1;
    color:#2c3e50;
    font-family:sans-serif;
    border: 0 solid black;
    border-radius:5px;
    width:50px;
    height:23px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.boldness {
    color: #0a4b3e!important;
}
#path_component {
    cursor: pointer;
    color:gray;
}
.delete-btn {
    background: #b47c74;
    padding: 0 5px;
    color: white;
    border-radius: 5px;
    font-family: monospace;
    font-weight:normal;
    font-size: 13px;
    width: 90px;
    white-space: nowrap;
    text-align: center;

}
.delete-btn a {
    position: relative;
    top: 2px;
    color: inherit;
    width:100%;
    display: inline-block;
    height:100%;
    cursor: pointer
}
.delete-btn:hover {
    transform: scale(1.03);
    transition-duration: 0.1s;
}
.delete-btn a:hover {
    content: 'hello';
}

.error-message-frame-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 10;
    pointer-events: none;
}
.error-message-frame.error-message-frame-active {
    pointer-events: auto;
    display: block;
    position: relative;
    animation-name: error-message-popup;
    animation-duration: 1s;

}
@keyframes error-message-popup {
    0% {
        top: 300px;
    }
    60%{
        top: -10px;

    }
    100% {
        top: 0px;
    }
}

.error-message-frame {
    display: none;
    margin: 15px;
    border-radius: 20px;
    height: 200px;
    width: 300px;
    background: rgba(0,0,0,0.3);
    flex-direction: column;
}
.error-message-frame .title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    background: rgba(0,0,0,0.2)!important;
    border-radius: 20px 20px 0 0!important;

}
.error-message-frame .title-container h1 {
    color: white;
    font-size: 30px;
    line-height: 30px;
    font-family: monospace;
    margin: 5px 5px;
    margin-left: 15px;
    opacity:0.6;
    overflow: hidden;

}
.error-message-frame .title-container .close-button {
    background: #ff5050;
    opacity: 0.3;
    border-radius: 20px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin: 5px;
}
.error-message-frame .title-container .close-button:hover {
    opacity: 0.6;
}
.error-message-frame-body {
    flex: 1;
    flex-wrap: wrap;
    margin: 10px;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 160px;
    padding-bottom: 20px;

}

.error-message-frame-body p {
    overflow: hidden;
    font-size: 16px;
    font-family: monospace;
    height: inherit;
}

.title-holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.auto-adjust-input {
    text-align: center;
    border: none;
    border-radius: 5px;
    background: rgba(0,0,0,0.3);
    margin:0 5px;
}
.politic-selector {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.select-capacity-politic-controller button {
    color: #2c3e50;
    background: transparent;
    margin: 0 0;
    padding: 1.3px 5px;
    border: none;
    border-radius: 5px;
    background: rgba(0,0,0,0.1);
}
.select-capacity-politic-controller button:hover {
    background: rgba(0,0,0,0.2);
}
.select-capacity-politic-controller button:focus {
    background: rgba(0,0,0,0.2);
}
.select-capacity-politic-controller button:active {
    background: rgba(0,0,0,0.2);
}

.bin-option-changer ul {
    width:30px;
}
.bin-option-changer li {
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
    align-items: center;
}
.bin-option-changer li p {
    white-space: pre;
    font-size: 15px;
    margin: 4px 0;
    flex: 1
}
.bin-option-changer li input {
    margin: 0 0;
    width: 20px;
}

.bin-option-changer li a {
    width:100%;
    text-align: center;
}
.history {
    border-radius: 10px;
    background: rgba(0,0,0,0.05);
    padding: 3px 5px;
    width:300px;
}

.history-item {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 5px;
    background: rgba(0,0,0,0.2);
    border-radius: 10px;
    border: 3px solid rgba(0,0,0,0.2)
}
.history-item .history-type {
    background: rgba(0,0,0,0.4);
    border-radius: 5px 5px 5px 5px;

    width:100%;
}
.history-item .history-type h3 {
    color:white;
    font-size: 20px;
    margin:10px 0px;
    text-align: center;
    font-weight: bold;
}
.history-item .history-description {
    margin: 5px;
    font-size: 17px;
}
.history-item .history-description p {
    font-size: 17px;
}
.history-item .history-date {
    margin: 0 5px;
}
.history-item .history-date p{
    margin: 0px;
    text-align: right;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.6);
}

::-webkit-scrollbar {
    width: 12px;
    opacity: 0.1;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0,0,0, 0.5)

}