
	{% load staticfiles %}

	<!DOCTYPE html>
	<html>

	<head>

	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	    <title>Server remove-more</title>
        <link rel="icon" href="https://cdn1.iconfinder.com/data/icons/user-interface-elements/154/search-loop-512.png">

	    <!-- Core CSS - Include with every page -->
	    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/main.css' %}" rel="stylesheet">
{#        <link href="{% static 'css/fontawesome.min.css' %}" rel="stylesheet">#}
        <script src="https://use.fontawesome.com/fc11dadf02.js"></script>

	</head>

	<body>

        <nav class="navbar navbar-default navbar-fixed-top">
            <section class="error-message-frame-container">
                <div id="error-message-frame" class="error-message-frame">
                    <div class="title-container">
                        <h1>Error Message</h1>
                        <div id="error-frame-close-btn" class="close-button"></div>
                    </div>
                    <div class="error-message-frame-body">
                        <p id="error-msg-text-field">If you are having any issues using this plugin please feel free to ask me on gitter. I must admit it is a wonderful site for quick questions about github plugins that may not actually be issues. Please feel free to make improvements by forking the plugin and making a p</p>
                    </div>


                </div>
            </section>
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Remove More</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">

                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Account <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a></a></li>
                    <li><a href="/">Home</a></li>
                    <li><a href="/navigator/">Navigator</a></li>
                    <li><a href="/binmanager">Bin Manager</a></li>
                    <li class="divider"></li>
                    <li><a href="/logout">Logout</a></li>
                  </ul>
                </li>

              </ul>
            </div>
          </div>
        </nav>




        {% block content %}
        {% endblock %}

	    <!-- Core Scripts - Include with every page -->
	    <script src = "{% static 'js/jquery.min.js' %}"></script>

	    <script src = "{% static 'js/bootstrap.min.js' %}"></script>
        <script src = "{% static 'js/main.js' %}"></script>
        <script>
{#            $.post('/bins', {path: "Anton", config: "Krinitsyn" }, function(data, status) {console.log(data, status)})#}
        </script>
	    {% block javascript %}
	    {% endblock %}

	</body>

	</html>
