{% extends 'base.html' %}

{% block content %}
    <div class="container navigator">
        <script>
            console.log("helo")
        </script>
        <div class="row">
            <div class="jumbotron">
                <h3 class="title"><strong>Bins:&nbsp;&nbsp;</strong></h3><h3 class="title"></h3>
                <ul class="list-group">
                        <li class="list-group-item file-item">
                            <a href="/navigator/{{ prev }}" >
                                ...
                            </a>
                        </li>
                        {% if not locations|length %}
                            <li class="list-group-item" style="display:flex;justify-content:center">
                                nothing here&nbsp;<a href="/navigator/"><strong>create one via navigator.</strong></a>
                            </li>
                        {% endif %}
                    {% for location in locations %}
                            <li id="bin-item{{ forloop.counter0 }}" class="list-group-item file-item">
                                {% if location.is_available %}

                                    <a href="/binmanager/{{ location.id }}">
                                    <i class="fa fa-folder-o" aria-hidden="true"></i>
                                        {{ location.path }}
                                    </a>
                                    <div class="element-count">
                                        {% if location.elem_count != '0' %}
                                            {{ location.elem_count }}
                                        {% endif %}
                                        {% if location.elem_count == '0' %}
                                            empty
                                        {% endif %}
                                    </div>
                                {% endif %}
                                {% if not location.is_available %}
                                    <container style="width:80%">
                                        <i class="fa fa-folder-o" aria-hidden="true"></i>
                                        {{ location.path }}
                                    </container>

                                    <div class="delete-btn">
                                        <a data="{{ location.id }}" id="del-bin-btn-not-available">
                                            not exists
                                        </a>
                                    </div>
                                {% endif %}
                            </li>
                    {% endfor %}
                </ul>

            </div>
        </div>
    </div>
{% endblock %}
