{% extends 'base.html' %}

{% block content %}
    <div class="container navigator">
        <div class="row">
            <div class="jumbotron">
            <nav style="margin:50px 20% 0 20%;" class="navbar  navbar-fixed-top">
              <div class="container-fluid">
                   <div class="selection-controller" style="max-height:45px;">

                        <a data="{{ id }}" id="restore-btn" class="btn btn-primary">Restore</a>
                        <a data="{{ id }}" id="empty-btn" class="btn btn-primary">Empty</a>
                        <a data="{{ id }}" id="del-bin-btn" class="btn btn-primary">Delete Bin</a>
                        <div class="bin-option-changer">
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                    options
                                    <span class="caret"></span>
                                </button>
                                <ul id="options-changer" class="dropdown-menu scrollable-menu">
                                    <li>
                                        <a bin-id="{{ id }}"  id="bin-option-changer">save</a>
                                    </li>
                                    {% for option in options %}
                                        <li>
                                            <p>{{ option.name }}</p>
                                            <input
                                                    {% if option.value %}checked{% endif %} value="{{ option.value }}"  id="option-checkbox" type="checkbox" aria-label="..." true-name="{{ option.true_name }}">
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                   </div>
              </div>
            </nav>
                <div class="title-holder">

                    <div style="display: flex; align-items: flex-end;">
                        <h3 class="title">
                            <strong>Bin Details:&nbsp;&nbsp;</strong>{{ current }}
                        </h3>
                        <h4 style="margin:0 0 10.5px 10px;color: rgba(0,0,0,0.3)">stores for max
                            <input bin-old-max-value="{{ live_span }}" bin_id={{ id }} class="auto-adjust-input" id="auto-adjust-input-live-span" value="{{ live_span  }}">
                                days
                        </h4>

                    </div>

                    <h4>

                    </h4>



                    <div class="politic-selector">
                        <h4>{{ capacity_value }} of
                            <input bin-old-max-value={{ capacity_value_max }} bin_id={{ id }} class="auto-adjust-input" id="auto-adjust-input" value="{{ capacity_value_max }}">
                        </h4>
                        <div class="select-capacity-politic-controller">
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                    {{ current_capacity_politic.elem_name }}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu scrollable-menu">
                                    {% for politic in capacity_politics %}
                                        <li><a bin_id={{ id }} id="politic-activate-btn" politic-name={{ politic.politic }}>{{ politic.elem_name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="list-group">

                        <li class="list-group-item file-item">
                            <a href="/binmanager" >
                                ...
                            </a>
                            {% if files|length %}
                                <a id="select-all-btn" style="text-align:right;margin-right:20px;cursor:pointer">select all</a>
                            {% endif %}
                        </li>


                        {% if not files|length %}
                            <li class="list-group-item" style="display:flex;justify-content:center">
                                nothing here&nbsp;<a href="/navigator/"><strong>go to navigator.</strong></a>
                            </li>
                        {% endif %}
                    {% for file in files %}
                            <li id="file-item{{ forloop.counter0 }}" class="list-group-item file-item">
                                {% if file.isdir %}
                                    <a>
                                    <i class="fa fa-folder-o" aria-hidden="true"></i>
                                        {{ file.shortname }}
                                    </a>
                                {% endif %}

                                {% if not file.isdir %}
                                    <div>


                                    <i class="fa fa-file-o" aria-hidden="true"></i>
                                    {{ file.shortname }}
                                    </div>
                                {% endif %}



                                <input data="{{ file.path }}"  id="selection-checkbox" type="checkbox" aria-label="...">

                            </li>

                    {% endfor %}
                </ul>

            </div>
        </div>
    </div>
{% endblock %}
