{% extends 'base.html' %}

{% block content %}
<div class="container">
<div class="row">

<div class="jumbotron">
    <h1>Documentation</h1>
    <hr/>
    <h2 id="header_0" class="">Content:</h2>
        <ul style="color: #18bc9c;font-size:20px;" id="content-list"></ul>
    <hr/>

    <h2 id="header_1" class="doc-header">What is it</h2>
    <p>Service allows you to manipulate remote systems with ease: delete files/dirs, restore deleted files with the help of deleting history. To do list:</p>
    <ul>
        <li>
            <p>get copy from <a href="https://www.bitbucket.com/AntonKrinitsyn/remove-more-server">this repo</a> to local machine.</p>
        </li>
        <li>
            <p>run server in local machine.</p>
        </li>
        <li>
            <p>create account and work remotely.</p>
        </li>
    </ul>
    <hr/>

    <h2 id="header_2" class="doc-header">How does it works</h2>
        <p>Service works using api from <a href="https://www.github.com/kr1an/remove-more">this project.</a> It allows to use os api and delete/restore copy... objects within operation system. It uses django as middleware between user and remove-more api. It uses friendly web interface. So everything is self-explained</p>
    <hr/>
    <h2 id="header_2" class="doc-header">How to use</h2>
        <p>To use service, first you should get account credencials from admin. Then use it to authorized. After authorization you on navbar you will get account drop down menu. Use it to select needed option: navigator, bin manager, ...</p>
        <ul>
            <li>
                <p>Within navigator, navigate through local machine file system, create new bins(trash folders) delete files.</p>
            </li>
            <li>
                <p>Use binmanager to delete bins, restore files from bin and get info about bins</p>
            </li>
        </ul>



    <hr/>

    <h2 id="header_2" class="doc-header">Who do I talk to</h2>
        <ul>
            <li>
                <p>Anton Krinitsyn</p>
            </li>
            <li>
                <p><a href="https://www.github.com/kr1an">github.com/kr1an</a></p>
            </li>
            <li>
                <p><a>7633766@gmail.com</a></p>
            </li>
            <li>
                <p><a>kr1an@hotmail.com</a></p>
            </li>
        </ul>
    <hr/>


</div>
</div>
</div>
{% endblock %}
