{% extends 'base.html' %}

{% block content %}
    <div class="container navigator">
        <div class="row">
            <div class="jumbotron">

                <h3 class="title"><strong>location:&nbsp;&nbsp;</strong></h3>
                <h3 id="location-path" data="{{ path }}" class="title" style="word-spacing: -5px;">
                    {% for pathComponent in pathComponents %}
                        <div id="path_component" data={{ forloop.counter0 }} style="cursor:pointer;display:inline">{{pathComponent}}{% if not forloop.counter == pathComponents|length %}/{% endif %}</div>
                    {% endfor %}
                </h3>
            <nav style="margin:50px 20% 0 20%;" class="navbar  navbar-fixed-top">
              <div class="container-fluid">
                  <div class="selection-controller" style="max-height:45px;">
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Delete
                            <span class="caret"></span></button>
                            <ul class="dropdown-menu scrollable-menu">
                                {% if not bins|length %}
                                    <li><a>no bins, create one-></a></li>
                                {% endif %}
                                {% for bin in bins %}
                                    <li><a id="id_{{ bin.id }}" class="del-btn">{{ bin.path }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div style="display:flex;max-width:100px; flex-direction: column;">
                            <a id="new-bin-btn" class="btn btn-primary" style="text-align:center;">
                                New Bin
                            </a>
                            <input id="trash-name-value" class="bin-name-input" type="text" placeholder="name...">
                        </div>
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">History
                            <span class="caret"></span></button>
                            <ul class="dropdown-menu scrollable-menu history">
                                {% if not activities|length %}
                                    <li><a>no activite, yet</a></li>
                                {% endif %}
                                {% for activite in activities %}
                                    <li>
                                        <div class="history-item">
                                            <div class="history-type">
                                                <h3>
                                                    {{ activite.type }}
                                                </h3>
                                            </div>
                                            <div class="history-description">
                                                <p class="description">
                                                    {{ activite.description }}
                                                </p>
                                            </div>
                                            <div class="history-date">
                                                <p class="history-date">
                                                    {{ activite.date }}
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                   </div>
              </div>
            </nav>


                <ul class="list-group">
                    {% if path %}
                        <li class="list-group-item file-item">
                            <a href="/navigator/{{ prev }}" >
                                ...
                            </a>
                            <a id="select-all-btn" style="text-align:right;margin-right:20px;cursor:pointer">select all</a>
                        </li>


                    {% endif %}
                    {% for file in files %}
                            <li id="file-item{{ forloop.counter0 }}" class="list-group-item file-item">
                                {% if file.isdir %}


                                    <a href="/navigator/{{ file.path }}">
                                    <i class="fa fa-folder-o" aria-hidden="true"></i>
                                        {{ file.shortname }}
                                    </a>
                                {% endif %}

                                {% if not file.isdir %}
                                    <div>


                                    <i class="fa fa-file-o" aria-hidden="true"></i>
                                    {{ file.shortname }}
                                    </div>
                                {% endif %}



                                <input data="{{ file.path }}"  id="selection-checkbox" type="checkbox" aria-label="...">

                            </li>

                    {% endfor %}
                </ul>

            </div>
        </div>
    </div>
{% endblock %}
